@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #fff;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.page-title {
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 46px;
  color: #222222;
}
.card {
  width: 28%;
  padding: 20px;
  border-radius: 10px;
  background: #ffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  margin-bottom: 50px;
  cursor: pointer;
}
.card:hover {

  box-shadow: 0 0 15px rgba(0, 0, 0, .3);
  transition: .3s;
}
.card .title {
  font-size: 32px;
  color: #222222;
  margin-bottom: 20px;
  margin-top: 0;
}
.card .text {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  color: #222222;
}
